<form [formGroup]="workForm" (ngSubmit)="onFormSubmit()">
  <fieldset>
    <div class="element">
      <div class="form-div">
        Nombre Empresa 1: <input formControlName="empresa1_nombre"  placeholder="Nombre Empresa 1">
      </div>
      <div class="form-div">
        Fecha de inicio Empresa 1: <input formControlName="empresa1_fecha_inicio"  placeholder="Fecha Inicio Empresa 1">
      </div>
      <div class="form-div">
        Fecha de fin Empresa 1: <input formControlName="empresa1_fecha_fin"  placeholder="Fecha Fin Empresa 1">
      </div>
      <div class="form-div">
        Telefono Empresa 1: <input formControlName="empresa1_telefono"  placeholder="Telefono Empresa 1">
      </div>
      <div class="form-div">
        Direcion Empresa 1: <input formControlName="empresa1_direccion"  placeholder="Direccion Empresa 1">
      </div>
      <div class="form-div">
        Puesto Empresa 1: <input formControlName="empresa1_puesto"  placeholder="Puesto Empresa 1">
      </div>
      <div class="form-div">
        Nombre Jefe Empresa 1: <input formControlName="empresa1_jefe"  placeholder="Nombre Jefe Empresa 1">
      </div>
      <div class="form-div">
        Telefono Jefe Empresa 1: <input formControlName="empresa1_jefe_telefono"  placeholder="Telefono Jefe Empresa 1">
      </div>
      <div class="form-div">
        Ultimo Salario Empresa 1: <input formControlName="empresa1_salario"  placeholder="Ultimo Salario Empresa 1">
      </div>
      <div class="form-div">
        Motivo de Salida Empresa 1: <input formControlName="empresa1_motivo_salida"  placeholder="Motivo de Salida Empresa 1">
      </div>
      <div class="form-div" name="responsabilidades">
        Responsabilidades y Actividades Empresa 1:
      </div>
      <div class="form-div">
        <textarea formControlName="empresa1_responsabilidades"  placeholder="Responsabilidades y Actividades Empresa 1"></textarea>
      </div>
    </div>

  </fieldset>
    <br>
    <fieldset>
      <div class="element">
        <div class="form-div">
          Nombre Empresa 2: <input formControlName="empresa2_nombre"  placeholder="Nombre Empresa 2">
        </div>
        <div class="form-div">
          Fecha de inicio Empresa 2: <input formControlName="empresa2_fecha_inicio"  placeholder="Fecha Inicio Empresa 2">
        </div>
        <div class="form-div">
          Fecha de fin Empresa 2: <input formControlName="empresa2_fecha_fin"  placeholder="Fecha Fin Empresa 2">
        </div>
        <div class="form-div">
          Telefono Empresa 2: <input formControlName="empresa2_telefono"  placeholder="Telefono Empresa 2">
        </div>
        <div class="form-div">
          Direcion Empresa 2: <input formControlName="empresa2_direccion"  placeholder="Direccion Empresa 2">
        </div>
        <div class="form-div">
          Puesto Empresa 2: <input formControlName="empresa2_puesto"  placeholder="Puesto Empresa 2">
        </div>
        <div class="form-div">
          Nombre Jefe Empresa 2: <input formControlName="empresa2_jefe"  placeholder="Nombre Jefe Empresa 2">
        </div>
        <div class="form-div">
          Telefono Jefe Empresa 2: <input formControlName="empresa2_jefe_telefono"  placeholder="Telefono Jefe Empresa 2">
        </div>
        <div class="form-div">
          Ultimo Salario Empresa 2: <input formControlName="empresa2_salario"  placeholder="Ultimo Salario Empresa 2">
        </div>
        <div class="form-div">
          Motivo de Salida Empresa 2: <input formControlName="empresa2_motivo_salida"  placeholder="Motivo de Salida Empresa 2">
        </div>
        <div class="form-div" name="responsabilidades">
          Responsabilidades y Actividades Empresa 2:
        </div>
        <div class="form-div">
          <textarea formControlName="empresa2_responsabilidades"  placeholder="Responsabilidades y Actividades Empresa 2"></textarea>
        </div>
      </div>

    </fieldset>
    <br>
    <fieldset>
      <div class="element">
        <div class="form-div">
          Nombre Empresa 3: <input formControlName="empresa3_nombre"  placeholder="Nombre Empresa 3">
        </div>
        <div class="form-div">
          Fecha de inicio Empresa 3: <input formControlName="empresa3_fecha_inicio"  placeholder="Fecha Inicio Empresa 3">
        </div>
        <div class="form-div">
          Fecha de fin Empresa 3: <input formControlName="empresa3_fecha_fin"  placeholder="Fecha Fin Empresa 3">
        </div>
        <div class="form-div">
          Telefono Empresa 3: <input formControlName="empresa3_telefono"  placeholder="Telefono Empresa 3">
        </div>
        <div class="form-div">
          Direcion Empresa 3: <input formControlName="empresa3_direccion"  placeholder="Direccion Empresa 3">
        </div>
        <div class="form-div">
          Puesto Empresa 3: <input formControlName="empresa3_puesto"  placeholder="Puesto Empresa 3">
        </div>
        <div class="form-div">
          Nombre Jefe Empresa 3: <input formControlName="empresa3_jefe"  placeholder="Nombre Jefe Empresa 3">
        </div>
        <div class="form-div">
          Telefono Jefe Empresa 3: <input formControlName="empresa3_jefe_telefono"  placeholder="Telefono Jefe Empresa 3">
        </div>
        <div class="form-div">
          Ultimo Salario Empresa 3: <input formControlName="empresa3_salario"  placeholder="Ultimo Salario Empresa 3">
        </div>
        <div class="form-div">
          Motivo de Salida Empresa 3: <input formControlName="empresa3_motivo_salida"  placeholder="Motivo de Salida Empresa 3">
        </div>
        <div class="form-div" name="responsabilidades">
          Responsabilidades y Actividades Empresa 3:
        </div>
        <div class="form-div">
          <textarea formControlName="empresa3_responsabilidades"  placeholder="Responsabilidades y Actividades Empresa 3"></textarea>
        </div>
      </div>

    </fieldset>
    <br>
  <fieldset>
    <div class="element">
      <div class="form-div">
        Nombre Empresa 4: <input formControlName="empresa4_nombre"  placeholder="Nombre Empresa 4">
      </div>
      <div class="form-div">
        Fecha de inicio Empresa 4: <input formControlName="empresa4_fecha_inicio"  placeholder="Fecha Inicio Empresa 4">
      </div>
      <div class="form-div">
        Fecha de fin Empresa 4: <input formControlName="empresa4_fecha_fin"  placeholder="Fecha Fin Empresa 4">
      </div>
      <div class="form-div">
        Telefono Empresa 4: <input formControlName="empresa4_telefono"  placeholder="Telefono Empresa 4">
      </div>
      <div class="form-div">
        Direcion Empresa 4: <input formControlName="empresa4_direccion"  placeholder="Direccion Empresa 4">
      </div>
      <div class="form-div">
        Puesto Empresa 4: <input formControlName="empresa4_puesto"  placeholder="Puesto Empresa 4">
      </div>
      <div class="form-div">
        Nombre Jefe Empresa 4: <input formControlName="empresa4_jefe"  placeholder="Nombre Jefe Empresa 4">
      </div>
      <div class="form-div">
        Telefono Jefe Empresa 4: <input formControlName="empresa4_jefe_telefono"  placeholder="Telefono Jefe Empresa 4">
      </div>
      <div class="form-div">
        Ultimo Salario Empresa 4: <input formControlName="empresa4_salario"  placeholder="Ultimo Salario Empresa 4">
      </div>
      <div class="form-div">
        Motivo de Salida Empresa 4: <input formControlName="empresa4_motivo_salida"  placeholder="Motivo de Salida Empresa 4">
      </div>
      <div class="form-div" name="responsabilidades">
        Responsabilidades y Actividades Empresa 4:
      </div>
      <div class="form-div">
        <textarea formControlName="empresa4_responsabilidades"  placeholder="Responsabilidades y Actividades Empresa 4"></textarea>
      </div>
    </div>

  </fieldset>
  </form>
