
<div class="container">

    <div class="container-body">
      <div class="container-header">
        <h1 mat-dialog-title>Informacion Del Candidato</h1>
        <div class="button-bar">
          <button mat-button (click)="setView('personal')">Personal</button>
          <button mat-button (click)="setView('study')">Estudios</button>
          <button mat-button (click)="setView('work')" >Laboral</button>
        </div>
      </div>
      <mat-dialog-content>
        <div [ngSwitch]="view">
          <app-personal-information *ngSwitchCase="'personal'"></app-personal-information>
          <app-studies-information *ngSwitchCase="'study'"></app-studies-information>
          <app-work-information *ngSwitchCase="'work'"></app-work-information>
        </div>
        </mat-dialog-content>
        <mat-dialog-actions>
          <button id= "update" class="update" >Actualizar</button>
          <button id= "close" class="close" (click)="close()">Cerrar</button>
        </mat-dialog-actions>
    </div>

</div>
<div class="container-background"></div>




