 <form [formGroup]="personalForm" (ngSubmit)="onFormSubmit()">
   <h2>Informacion Personal</h2>
  <fieldset>
    <div class="element">
      <div class="form-div">

        No. DPI: <input formControlName="no_dpi"  placeholder="No. DPI">
      </div>
      <div class="form-div">

        Nombre Completo: <input formControlName="nombre_completo"  placeholder="Nombre Completo">
      </div>
      <div class="form-div">

        Genero: <input formControlName="genero"  placeholder="Genero">
      </div>
      <div class="form-div">

        No. Telefono: <input formControlName="no_telefono"  placeholder="No. Telefono">
      </div>
      <div class="form-div">

        No. Celular: <input formControlName="no_celular"  placeholder="No. Celular">
      </div>
      <div class="form-div">

        Correo electronico: <input formControlName="correo_electronico"  placeholder="Correo electronico">
      </div>
      <div class="form-div">

        Fecha de nacimiento: <input formControlName="fecha_nacimiento"  placeholder="Fecha de nacimiento">
      </div>
    </div>
  </fieldset>
  </form>
