<form [formGroup]="studiesForm" (ngSubmit)="onFormSubmit()">
  <fieldset>
    <div class="element">
      <div class="form-div">
        Estudios mas altos: <input formControlName="estudios_mas_altos"  placeholder="Estudios mas altos">
      </div>
      <div class="form-div">
        Otros Estudios: <input formControlName="otros_estudios"  placeholder="Otros Estudios">
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="element">
      <div class="form-div">
        Institucion Doctorado: <input formControlName="doctorado_institucion"  placeholder="Institucion Doctorado">
      </div>
      <div class="form-div">

        Estudio Doctorado: <input formControlName="doctorado_estudio"  placeholder="Estudios Doctorado">
      </div>
      <div class="form-div">
        Grado mas alto Doctorado: <input formControlName="doctorado_grado"  placeholder="Grado Doctorado">

      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="element">
      <div class="form-div">

        Institucion Mestria: <input formControlName="maestria_institucion"  placeholder="Institucion maestria">
      </div>
      <div class="form-div">

        Estudio Maestria: <input formControlName="maestria_estudio"  placeholder="Estudios maestria">
      </div>
      <div class="form-div">

        Grado mas alto Maestria: <input formControlName="maestria_grado"  placeholder="Grado maestria">
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="element">
      <div class="form-div">

        Institucion Licenciatura: <input formControlName="licenciatura_institucion"  placeholder="Institucion licenciatura">
      </div>
      <div class="form-div">

        Estudio Licenciatura: <input formControlName="licenciatura_estudio"  placeholder="Estudios licenciatura">
      </div>
      <div class="form-div">

        Grado mas alto Licenciatura: <input formControlName="licenciatura_grado"  placeholder="Grado licenciatura">
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="element">
      <div class="form-div">

        Institucion Tecnico: <input formControlName="tecnico_institucion"  placeholder="Institucion tecnico">
      </div>
      <div class="form-div">

        Estudio Tecnico: <input formControlName="tecnico_estudio"  placeholder="Estudios tecnico">
      </div>
      <div class="form-div">

        Grado mas alto Tecnico: <input formControlName="tecnico_grado"  placeholder="Grado tecnico">
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="element">
      <div class="form-div">

        Institucion Colegio: <input formControlName="colegio_institucion"  placeholder="Institucion colegio">
      </div>
      <div class="form-div">

        Estudio Colegio: <input formControlName="colegio_estudio"  placeholder="Estudios colegio">
      </div>
      <div class="form-div">

        Grado mas alto Colegio: <input formControlName="colegio_grado"  placeholder="Grado colegio">
      </div>
    </div>
  </fieldset>
  </form>
